

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    border-color: #542468;
    color: #542468;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:hover {
    color: #542468;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:focus {
    box-shadow: 0 0 0 2px #54246855;
}
