.schedule-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    table-layout: fixed;
    height: 70vh;
    
}

.schedule-table th,
.schedule-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    min-width: 100px;
    word-wrap: break-word;
    font-size: 1rem;
}

.schedule-cell {
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.schedule-cell:hover {
    background-color: #e0e0e0;
}

@media (max-width: 768px) {
    .schedule-table th,
    .schedule-table td {
        font-size: 0.85rem;
        padding: 6px;
        min-width: 80px;
    }
}

@media (max-width: 480px) {
    .schedule-table th,
    .schedule-table td {
        font-size: 0.75rem;
        padding: 4px;
        min-width: 70px;
    }
}
