.react-calendar {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__tile {
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.react-calendar__tile--active {
    background-color: #542468;
    color: #fff;
}

.react-calendar__tile:hover {
    background-color: #e0e0e0;
}

